.mask {
  color: rgba(255, 242, 51, 0.298) !important;
}

.wrong {
  color: red !important;
}

.correct {
  color: green !important;
}

.cloze {
  position: absolute;
  z-index: 9;
  background: transparent;
  border: none;
}

.answer {
  color: black !important;
  background: black !important;
}

#instalang {
  position: fixed;
  bottom: 0px;
  background: white;
  width: 100%;
  padding: 25px;
  text-align: center;
}
